<!-- vim: set ts=4 et nu ai syntax=html indentexpr= ff=unix :vim -->
<!--
    This is a very very plain template, that supports exactly one poem, a title and information about the author
-->
<div class="poem" >
    <div class="poem_box poem_title" style="left:20px;top:10px;height:50px; line-height:50px; {titlecolor}">{title}</div>
    <div class="poem_box" style="left:20px;top:20px; {textcolor}"> <!--box1-->
        {box1content}
        <div class="poem_right" style="color:#FFF">(c) {date} {author}</div>
    </div>
</div>
