<!-- vim: set ts=4 et nu ai syntax=html indentexpr= ff=unix :vim -->
		<div class="poem" style="background:url(http://wwerther.de/wp-content/gallery/poetry/bg_1.jpg); width:800px; height:532px; padding:0px; margin:auto;">
     		<div class="poem_box poem_title" style="left:390px;top:10px;width:390px;height:50px; line-height:50px; color:#FF0000">{title}</div>
	    	<div class="poem_box" style="left:390px;top:40px;width:390px;height:430px;line-height:{box1lineheight}px"> <!--box1-->
                {box1content}
    		</div>
       		<div class="poem_box" style="top:30px;position:relative;padding:0px;right:0px;left:0px; width:200px; color:#FFF">(c) {date} {author}</div>
		</div>
