<!-- vim: set ts=4 et nu ai syntax=html indentexpr= ff=unix :vim -->
<!-- http://commons.wikimedia.org/wiki/File:Waterfall_in_Norway.jpg -->
		<div class="poem" style="background:url(http://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Waterfall_in_Norway.jpg/800px-Waterfall_in_Norway.jpg); width:800px; height:600px; padding:0px; margin:auto;">
     		<div class="poem_box poem_title" style="left:150px;top:10px;width:300px;height:40px; line-height:40px; color:#FF0000">{title}</div>
	    	<div class="poem_box" style="left:450px;top:40px;width:320px;height:500px;line-height:{box1lineheight}px"> <!--box1-->
                {box1content}
    		</div>
       		<div class="poem_box" style="top:30px;position:relative;padding:0px;right:0px;left:0px; width:200px; color:#FFF">(c) {date} {author}</div>
		</div>
