<!-- vim: set ts=4 et nu ai syntax=html indentexpr= ff=unix :vim -->
<!-- By Danny Steaven (Own work) [CC-BY-1.0 (www.creativecommons.org/licenses/by/1.0)], via Wikimedia Commons' -->
		<div class="poem" style="background:url(http://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Water008.jpg/800px-Water008.jpg); width:800px; height:600px; padding:0px; margin:auto;">
     		<div class="poem_box poem_title" style="left:10px;top:15px;width:760px;height:40px; line-height:40px; color:#FF0000">{title}</div>
	    	<div class="poem_box" style="left:10px;top:30px;width:360px;height:520px;line-height:{box1lineheight}px"> <!--box1-->
                {box1content}
    		</div>
	    	<div class="poem_box" style="left:410px;top:-490px;width:360px;height:520px;line-height:{box2lineheight}px"> <!--box2-->
                {box2content}
    		</div>
       		<div class="poem_box" style="top:-500px;position:relative;padding:0px;left:600px;width:200px; color:#FFF">(c) {date} {author}</div>
		</div>
